<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quản lý khu vui chơi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <style>
        .navbar-brand {
            height: auto;
        }

        .imagePage {
            height: 50px;
            width: 50px;
        }

        header {
            background-color: #ffffff;
        }

        .nav.navbar-nav {
            padding: 14px;
            font-size: 1.4em;
        }

        .parrent-tab {
            padding: 10px 50px 10px 50px;
        }

        #example_wrapper {
            border: 1px solid;
            padding: 20px;
        }

        .btn-success {
            float: right;
        }

        .bodypage {
            height: 100%;
            width: 100%;
            position: absolute;
            background-image: url("https://inhat.vn/ha-noi/wp-content/uploads/2019/08/baara-land-min.jpg");
            padding: 0px 80px 0px 80px;
        }

        .info {
            height: 100%;
            background-color: #fff;
        }
    </style>
</head>

<body>

    @RenderBody()
</body>
</html>
